.centered {
    text-align: center;
}

#hero-section {
    background: rgb(8,153,4);
    background: linear-gradient(90deg, rgba(8,153,4,1) 0%, rgba(9,18,121,1) 50%, rgba(255,0,0,1) 100%);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}
#hero-image {
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    
}

#main {
    background-color: #f0f0f0;
    padding-top: 10px;
    padding-bottom: 40px;
    border-radius: 10px;
}

.text-white {
    color: white;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}