#hero-section {
    background: linear-gradient(90deg, rgba(8,153,4,1) 0%, #091279 50%, rgba(255,0,0,1) 100%);
    padding: 20px;
    margin-inline: 20px;
    border-radius: 10px;
    height: 100%;
    max-width: 800px;
    min-width: 600px;
    
}
#hero-image {
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
}